#map {
    height: 100%;
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.column1 {
    float: left;
    width: 30%;
}

/* .column2 {
    float: left;
    width: 70%;
} */

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}